### User-specific stuff ###
/workspace.xml
/tasks.xml
/usage.statistics.xml
/dictionaries
/shelf/

### Gradle and Maven with auto-import ###
/artifacts
/compiler.xml
/jarRepositories.xml
/modules.xml
/*.iml
/modules

### SonarLint plugin ###
/sonarlint/
/sonarlint-state.xml